# Google OAuth credentials (get from https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple Sign In credentials (get from https://developer.apple.com/account/resources/identifiers)
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=

# Facebook Login credentials (get from https://developers.facebook.com/apps)
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Sentry error tracking (get from https://sentry.io/settings/projects/YOUR_PROJECT/keys/)
SENTRY_DSN=
