<div id="wishlist_card_button_<%= shop.id %>" class="wishlist-card-bookmark">
  <% if user_signed_in? && wishlist_item.present? %>
    <%= button_to wishlist_item_path(wishlist_item), method: :delete, class: "wishlist-bookmark-btn saved", title: t("wishlist.remove_from_wishlist") do %>
      <span class="bookmark-icon">♥</span>
    <% end %>
  <% elsif user_signed_in? %>
    <%= button_to wishlist_items_path(chicken_shop_id: shop.id), method: :post, class: "wishlist-bookmark-btn", title: t("wishlist.save_to_wishlist_short") do %>
      <span class="bookmark-icon">♡</span>
    <% end %>
  <% end %>
</div>
